# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Secrets
.env
credentials.json

# Logs
*.log

# VS Code
.vscode/

# Testing
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Node
frontend/node_modules/
frontend/dist/
